@use "presets" as *;
@use "mixins" as *;

.controls {
  display: flex;
  justify-content: center;
  gap: $gap;
  margin-bottom: $gap;
}

.control {
  @extend %style;

  &:hover {
    background-color: $color-steelblue;
  }

  &-pause span {
    position: absolute;
    display: block;
    opacity: 0;
    transition: 0.5s;
  }
}