@use "presets" as *;
@use "mixins" as *;

.controls {
  display: flex;
  justify-content: center;

  margin-bottom: $gap;

  gap: $gap;
}

.control {
  @extend %style;

  &:hover {
    background-color: $color-steelblue;
  }

  &-pause span {
    position: absolute;

    display: block;

    transition: 0.5s;

    opacity: 0;
  }
}
