@use "presets" as *;
@use "mixins" as *;

.indicators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $gap;
  margin-bottom: $gap;
}

.indicator {
  @extend %style;

  &.active {
    background-color: $color-tomato;
  }

  &:hover {
    background-color: $color-steelblue;
  }
}