@use "../presets" as *;

%style {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: $gap-x2;
  min-height: $gap-x2;
  padding: 0.5em;

  cursor: pointer;

  border-radius: $gap-x2;
  background-color: $color-lightsteelblue;
}
