$color-primary: #2d3651;
$color-accent: #d66926;
$color-highlight: #d53d27;
$color-gray: #637588;
$color-gray-light: #e5e5e5;
$color-gray-dark: #44596e;
$color-white: #ffffff;
$color-black: #000000;
$color-lightsteelblue: #b0c4de;
$color-steelblue: #4682b4;
$color-tomato: #ff6347;